In [632]:
import pandas as pd

In [633]:
tesla = pd.read_csv("ventas_modelos.csv")

In [634]:
tesla

    Salida  Precio  Year   Total  Sales_world  Vehicles_tesla Model
0     2014   99990  2014   16698         0.33           31.66     S
1     2014   99990  2015   25202         0.58           50.52     S
2     2014   99990  2016   29421         0.80           76.24     S
3     2014   99990  2017   27060         1.27          103.09     S
4     2014   99990  2018   25745         2.12          245.00     S
5     2014   99990  2019   14245         2.18          367.00     S
6     2014   99990  2020   17500         3.07          499.54     S
7     2014   99990  2021   11500         6.60          935.95     S
8     2020   62990  2020   84160         3.07          499.54    Y
9     2020   62990  2021  420618         6.60          935.95    Y
10    2015  114990  2015      97         0.58           50.52     X
11    2015  114990  2016    2725         0.80           76.24     X
12    2015  114990  2017   21600         1.27          103.09     X
13    2015  114990  2018   27250         2.12          245.00     X
14    2015  114990  2019   19600         2.18          367.00     X
15    2015  114990  2020   26100         3.07          499.54     X
16    2015  114990  2021    7305         6.60          935.95     X
17    2017   50000  2017    1667         1.27          103.09     3
18    2017   50000  2018  140317         2.12          245.00     3
19    2017   50000  2019  161100         2.18          367.00     3
20    2017   50000  2020  206500         3.07          499.54     3
21    2017   50000  2021  121610         6.60          935.95     3

In [635]:
from sklearn import linear_model

In [636]:
tesla["back"]  =tesla["Year"] - tesla["Salida"]
tesla

    Salida  Precio  Year   Total  Sales_world  Vehicles_tesla Model  back
0     2014   99990  2014   16698         0.33           31.66     S     0
1     2014   99990  2015   25202         0.58           50.52     S     1
2     2014   99990  2016   29421         0.80           76.24     S     2
3     2014   99990  2017   27060         1.27          103.09     S     3
4     2014   99990  2018   25745         2.12          245.00     S     4
5     2014   99990  2019   14245         2.18          367.00     S     5
6     2014   99990  2020   17500         3.07          499.54     S     6
7     2014   99990  2021   11500         6.60          935.95     S     7
8     2020   62990  2020   84160         3.07          499.54    Y      0
9     2020   62990  2021  420618         6.60          935.95    Y      1
10    2015  114990  2015      97         0.58           50.52     X     0
11    2015  114990  2016    2725         0.80           76.24     X     1
12    2015  114990  2017   21600         1.27          103.09     X     2
13    2015  114990  2018   27250         2.12          245.00     X     3
14    2015  114990  2019   19600         2.18          367.00     X     4
15    2015  114990  2020   26100         3.07          499.54     X     5
16    2015  114990  2021    7305         6.60          935.95     X     6
17    2017   50000  2017    1667         1.27          103.09     3     0
18    2017   50000  2018  140317         2.12          245.00     3     1
19    2017   50000  2019  161100         2.18          367.00     3     2
20    2017   50000  2020  206500         3.07          499.54     3     3
21    2017   50000  2021  121610         6.60          935.95     3     4

In [637]:
import matplotlib.pyplot as plt
tesla["back"]  = tesla["Precio"]/(tesla["Year"] - tesla["Salida"] + 1)
X_multiple = tesla.filter(["Year", "Precio", "Salida", "back"])
y_multiple = tesla.filter(["Total"])

In [638]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_multiple, y_multiple, test_size=0.2, random_state=42)

In [639]:
lr_multiple = linear_model.LinearRegression()

In [640]:
lr_multiple.fit(X_train, y_train)

LinearRegression()

In [641]:
Y_pred_multiple = lr_multiple.predict(X_test)

In [642]:
print('DATOS DEL MODELO REGRESIÓN LINEAL MULTIPLE')
print()
print('Valor de las pendientes o coeficientes "a":')
print(lr_multiple.coef_)
print('Valor de la intersección o coeficiente "b":')
print(lr_multiple.intercept_)

DATOS DEL MODELO REGRESIÓN LINEAL MULTIPLE

Valor de las pendientes o coeficientes "a":
[[-1.30930604e+03  9.40360672e-01  6.78755319e+04 -1.23883097e+00]]
Valor de la intersección o coeficiente "b":
[-1.34134565e+08]

In [643]:
print('Precisión del modelo:')
print(lr_multiple.score(X_train, y_train))

Precisión del modelo:
0.8029664199647798

In [646]:
precio = 25000
salida = 2025
years  = [2025, 2026, 2027, 2028, 2029, 2030]
predictions = {}
predictions["Hachback"] = []
predictions["year"] = years
for year in years:
    data = {"Year":[year], "price":[precio], "Salida":[salida], "back":[precio/(year - salida + 1)]}
    data  = pd.DataFrame(data=data)
    predictions["Hachback"].append(lr_multiple.predict(data)[0][0])

In [647]:
years  = [2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030]

models = tesla.Model.unique()
year = 2025
predictions_models = {}

for model in models:
    data_model = tesla[tesla["Model"] == model]
    predictions_models[model] = []
    for year in years:
        data = {"Year":[year], "price":[data_model.Precio.max()], "Salida":[data_model.Salida.max()], "back":[data_model.Precio.max()/(year - data_model.Salida.max() + 1)]}
        data  = pd.DataFrame(data=data)
        predictions_models[model].append(lr_multiple.predict(data)[0][0])
predictions_models

{'S': [-397.5997606962919,
  -330.56458869576454,
  -513.773272678256,
  -884.6648486703634,
  -1399.927880063653,
  -2028.625626385212,
  -2748.071144685149,
  -3541.2492276877165,
  -4395.148246333003],
 'Y ': [359814.337849766,
  365007.86204880476,
  367600.2541538179,
  368892.080211848,
  369440.72567152977,
  369524.88325729966,
  369299.3822604716,
  368857.1202557981,
  368257.21388179064],
 'X': [77540.1076246351,
  78209.31788413227,
  78482.82488456368,
  78468.54769650102,
  78238.43236713111,
  77842.28769829869,
  77315.69140554965,
  76684.73381370306,
  75968.98266637325],
 '3': [159660.18658056855,
  159825.67931878567,
  159622.47236341238,
  159173.4656123221,
  158552.39900425076,
  157806.1979547739,
  156966.14607417583,
  156053.9012465775,
  155084.93338924646]}

In [648]:
pd.DataFrame(data=predictions_models).to_csv("Pronosticos_modelos.csv")

In [651]:
pd.DataFrame(data=predictions).to_csv("Pronostico_Hatchback.csv")